[Unit]
Description=SenseHat
After=network.target

[Service]
ExecStart=python /home/pi/raspberry-pi-xmy-full-node-main/extra/xmy-sense-hat.py
StandardOutput=file:/home/pi/xmy-sense-hat.log
StandardError=file:/home/pi/xmy-sense-hat.error.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
