[Unit]
Description=SenseHat
After=network.target

[Service]
ExecStart=/bin/bash -ce "python /home/pi/raspberry-pi-xmy-full-node-main/extra/xmy-sense-hat.py >> /home/pi/xmy-sense-hat.log 2>&1"
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
