[Unit]
Description=SenseHat
After=network.target

[Service]
ExecStart=/bin/sh -c 'python /home/pi/raspberry-pi-xmy-full-node-main/extra/xmy-sense-hat.py 2>&1 > /home/pi/xmy-sense-hat.log'
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
