[Unit]
Description=Myriadcoin
After=network.target

[Service]
ExecStart=_HOME_DIR_/myriadcoin/bin/myriadcoind -datadir=_HOME_DIR_/myriadcoin-data -debuglogfile=_HOME_DIR_/myriadcoind.log -rpcpassword=rpc -port=_PORT_ -disablewallet -listen -discover -upnp _ARGS_
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
